@media screen and (max-width: 1024px){

    body{
        overflow-x: hidden;
    }

    .lottie >lottie-player{
        height: 40px;width: 40px;
    }

    .box__style-2, .box__style {
        display: none;
      }

    .w-1{
        width: 90vw;
    }

    /* Home page */
    .home__container{
        padding-bottom: 60px;
      }

    .links{
        width: 50vw;
    }

    .img__comp{
        height: 250px;
    }

    .content__left >h1{
        font-size: 2.5rem;
    }

    .content__left >h2{
        font-size: 1.5rem;
    }

    .content__left >p{
        font-size: .8rem;
    }

    .btn{
        padding: 5px 15px;
    }

    /* About */

    .about__container {
        padding: 60px 0;
    }

    .about__content > h1{
        font-size: 3rem;
    margin-bottom: 15px;
    }

    .about__content > p {
        font-size: 2vw;
        margin-bottom: 20px;
      }

      /* Skills */

      .skill__icon > img {
          height: 70px;
      }

      /* Project */
      
      .project__container > h1 {
        font-size: 3.5rem;
      }

      .Grid__container{
            grid-template-columns: 1fr 1fr;
            gap: 20px;
      }

      .project__item{
          width: 40vw;
      }

      .project__item > img{
          width: 40vw;
      }

      .project__item > h1 {
          font-size: 2.2rem;
      }

      /* Contect */

      .tape-1,.tape-2{
          display: none;
      }

      .contect__form{
          width: 60%;
      }
     
}